<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Azure TTS for 巫女酱子</title>
    <script src="./static/js/jquery.js"></script>
    <script src="./static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <script>
        $(document).ready(function () {
            var langEle = $("#lang")
            var list = JSON.parse("{{.list}}")
            console.log(list)
            for (var lang in list) {
                var option = $("<option></option>").text(lang)
                option.val(lang)
                langEle.append(option)
            }

            var nameEle = $("#name")
            langEle.change(function () {
                nameEle.empty()
                var defaultOption = $("<option></option>").text("未选择")
                nameEle.append(defaultOption)

                var currentLang = langEle.val()
                console.log("lang:", currentLang)
                var voices = list[currentLang]
                for (var val in voices) {
                    var voice = voices[val]
                    var text = voice.Gender + " - " + voice.DisplayName + " - " + voice.LocalName
                    var option = $("<option></option>").text(text)
                    option.val(voice.ShortName)
                    nameEle.append(option)
                }
            })

            var styleEle = $("#style")
            nameEle.change(function () {
                styleEle.empty()
                var defaultOption = $("<option></option>").text("未选择")
                styleEle.append(defaultOption)

                var currentLang = langEle.val()
                var currentName = nameEle.val()
                console.log("currentName: ", currentName)

                var voice = list[currentLang][currentName]
                console.log("voice: ", voice)

                if (!voice.StyleList || voice.StyleList.length === 0) {
                    styleEle.attr("disabled", "disabled")
                    return
                }

                styleEle.removeAttr("disabled")
                for (var style of voice.StyleList) {
                    var option = $("<option></option>").text(style)
                    option.val(style)
                    styleEle.append(option)
                }
            })

            var voiceEle = $("#voice")

            var pitchEle = $("#pitch")
            var pitchValEle = $("#pitch-value")
            pitchEle.on("input", function () {
                pitchValEle.text(pitchEle.val())
            })

            var rateEle = $("#rate")
            var rateValEle = $("#rate-value")
            rateEle.on("input", function () {
                rateValEle.text(rateEle.val());
            })

            var audioEle = $("#audio")
            var audioSource = $("#audio_source")
            var audioEmbed = $("#audio_embed")

            var currentFilePath = ""
            var currentVoice = ""

            var generateBtn = $("#generate")
            var downloadBtn = $("#download")

            var autoplayCheckbox = $("#autoplay")
            generateBtn.click(function () {
                var currentLang = langEle.val()
                var currentName = nameEle.val()
                var voice = list[currentLang][currentName]

                var pitch = pitchEle.val()
                if(pitch > 0) {
                    pitch = "+" + pitch
                }
                pitch = pitch.toString()

                var rate = rateEle.val()
                if(rate > 0) {
                    rate = "+" + rate
                }
                rate = rate.toString()

                var voiceContent = voiceEle.val()
                currentVoice = voiceContent

                var data = {
                    "lang": voice.Locale,
                    "name": voice.ShortName,
                    "gender": voice.Gender,
                    "voice": voiceContent,
                    "pitch": pitch,
                    "rate": rate,
                    "style": styleEle.val(),
                }
                console.log("data: ", data)

                generateBtn.attr("disabled", "disabled")
                downloadBtn.attr("disabled", "disabled")

                $.ajax({
                    url: "./voice",
                    method: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (res){
                        console.log("filename: ", res.file_name)
                        currentFilePath = "./result/" + res.file_name
                        audioSource.attr("src", currentFilePath)
                        audioEmbed.attr("src", currentFilePath)
                        if(autoplayCheckbox.is(":checked")) {
                            audioEle.get(0).load()
                            audioEle.get(0).play()
                        }
                    },
                    complete: function () {
                        generateBtn.removeAttr("disabled")
                        downloadBtn.removeAttr("disabled")
                    }
                })
            })

            downloadBtn.click(function () {
                if(!currentFilePath) {
                    return
                }
                var xhr = new XMLHttpRequest()
                xhr.open("GET", currentFilePath, true)
                xhr.responseType = "blob"
                xhr.onload = function () {
                    if(this.status !== 200) {
                        console.log("status: ", this.status)
                    }
                    var blob = this.response;
                    var reader = new FileReader()
                    reader.readAsDataURL(blob)
                    reader.onload = function (e) {
                        var link = document.createElement("a");
                        link.download = currentVoice.substring(0, 10) + ".mp3";
                        link.style.display = "none"
                        link.href = e.target.result;
                        document.body.appendChild(link);
                        link.click();
                        URL.revokeObjectURL(link.href);
                        document.body.removeChild(link);
                    }
                }
                xhr.send()
                // window.open(currentFilePath)
            })
        })
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Azure TTS for 巫女酱子</a>
        </div>
    </nav>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-label" for="voice">内容：</label>
                <textarea rows="13" cols="30" id="voice" class="form-control"></textarea>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-label" for="lang">语言：</label>
                <select id="lang" class="form-select">
                    <option>未选择</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="name">语音：</label>
                <select id="name" class="form-select">
                    <option>未选择</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="style">说话风格：</label>
                <select id="style" class="form-select">
                    <option>未选择</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="rate">语速：</label>
                <div class="d-flex align-items-center">
                    <input type="range" min="-50" max="50" value="0" id="rate" class="form-range">
                    <span class="mx-2" id="rate-value">0</span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="pitch">音调：</label>
                <div class="d-flex align-items-center">
                    <input type="range" min="-50" max="50" value="0" id="pitch" class="form-range">
                    <span class="mx-2" id="pitch-value">0</span>
                </div>
            </div>
            <div class="form-group">
                <audio controls autoplay id="audio">
                    <source src="" type="audio/mpeg" id="audio_source">
                    <embed height="50" width="100" src="" id="audio_embed">
                </audio>
            </div>
            <div class="form-row align-items-center">
                <div class="col-sm-4">
                    <button type="submit" id="generate" class="btn btn-primary">生成</button>
                    <button type="submit" id="download" class="btn btn-success" disabled>下载</button>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="autoplay">
                        <label class="form-check-label" for="autoplay">自动播放</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>